@import url(https://fonts.googleapis.com/css?family=Space+Mono);

html, body {
margin: 0;
height: 100vh;
}

body {
display: grid;
place-items: center;
background: #1a1b1c;
color: #a1a2a3;
}

span, p {
opacity: 0;
font-family: Space Mono;
animation: fadeIn 2s ease-in-out forwards;
}

span {
font-size: 80px;
text-align: center;
width: 100%;
}

p {
font-size: 40px;
animation-delay:3s;
}

@keyframes fadeIn {
from {
opacity: 0;
}
to {
opacity: 1;
}
}